MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=xxxxxxxxx
MINIO_ROOT_PASSWORD=xxxxxxxxx
MINIO_SECURE=false
MINIO_BUCKET=datalake
MINIO_CURATED_PREFIX=curated/

INSEE_BASE_URL="https://api.insee.fr/api-sirene/3.11"
INSEE_API_KEY="xxxxxxxxx"
