# Variables d'environnement pour MongoDB Atlas
# Utiliser le cluster cloud fourni par Samuel

# MongoDB Atlas (fourni par Samuel - Lead Backend)
MONGO_URL=mongodb+srv://admin:wYS7UuJm_G7prB_@hackaton.dcvuugn.mongodb.net/?appName=hackaton
MONGO_DATABASE=hackathon_db

# MinIO Data Lake
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_admin_pass

# Airflow PostgreSQL (metadata uniquement)
AIRFLOW_DB_URL=postgresql+psycopg2://airflow_user:airflow_pass@postgres/airflow_db
